<% layout('layout') %>
<div class="user-form-container">
    <form action="/register" method="POST" class="validated-form user-form" novalidate>
        <h1 class="user-form-title">Register</h1>
        <div class="form-group-container">
            <label class="form-label form-item-label" for="username">Username</label>
            <input class="form-control form-input" type="text" id="username" name="username" required autofocus>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group-container">
            <label class="form-label form-item-label" for="email">Email</label>
            <input class="form-control form-input" type="email" id="email" name="email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group-container">
            <label class="form-label form-item-label" for="password">Password</label>
            <input class="form-control form-input" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <%- include('../partials/flash')%>
        <button class="user-form-button">Register</button>
    </form>
</div>