footer {
    background: var(--black-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer-text {
    display: block;
    color: var(--black-50);
}